{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'common/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'common/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'common/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
<div class="container-login100">
    <div class="wrap-login100 p-t-90 p-b-30">
    <form method="post" class="login100-form" action="{% url 'common:signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    ID
                </span>
            </div>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    PASSWORD
                </span>
            </div>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    CHECK PASSWORD
                </span>
            </div>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    E-MAIL
                </span>
            </div>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <!-- 추가 -->
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    AGE
                </span>
            </div>
            <input type="text" class="form-control" name="age" id="age"
                   value="{{ info.age.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    GENDER
                </span>
            </div>
            <input type="text" class="form-control" name="gender" id="gender"
                   value="{{ info.gender.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    HEIGHT
                </span>
            </div>
            <input type="text" class="form-control" name="height" id="height"
                   value="{{ info.height.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <div class="p-b">
                <span class="txt1">
                    WEIGHT
                </span>
            </div>
            <input type="text" class="form-control" name="weight" id="weight"
                   value="{{ info.weight.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="username2" id="username2"
                   value="{{ info.username2.value|default_if_none:'default' }}">
        </div>
        <!-- 추가 -->
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                생성하기
            </button>
        </div>
        <div class="text-center p-t-55 p-b-30">
            {% include "common/form_errors.html" %}
        </div>
    </form>
</div>
</div>
</div>

<!--===============================================================================================-->
	<script src="{% static 'common/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'common/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'common/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'common/js/main.js' %}"></script>

</body>
</html>